Binaries
DerivedDataCache
Intermediate
Saved
/Content/PN_interactiveSpruceForest
/Content/MegascansMeadowPack
/Content/VehicleVarietyPack
/Content/LogCabin
/Content/MS_PineEssent
/Content/SoulCave
/Content/Items
/Content/InfinityBladeEffects
/Content/MS_Blood
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace